@mixin background-image {
    background-image: url("../image/formal background.jpg"); 
    background-size:cover;
    background-position: center; 
    padding: 10px 0 10px;
    margin-top: 0;
    margin-bottom: 0;
}

@mixin header-style {
    background: url("../image/starry night.jpg");
    height: 100%;
    text-align: center;
}

@mixin logo-layout {
    display: inline;
    height: 200px;
}

@mixin homepage-link {
    text-decoration: none;
}

@mixin footer {
    background-color: rgb(220, 160, 0);
    height: 100%;
    text-align: center;
}

@mixin navbar {
    text-decoration: none;
    color: $link-font-color;
    font-weight: 500;
    margin-bottom: 0;
}

@mixin active-page {
    font-weight: bolder;
    color: $button-active;
}

@mixin all-you-can-eat-video {
    margin-bottom: 20px;
}

@mixin title-front {
    font-size: 3rem;
    color: $hotpot-yellow;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}

@mixin title-back {
    font-size: 3rem;
    color: $hotpot-red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}