@mixin main {
    background-image: url("../image/formal background.jpg"); 
    background-size:cover;
    background-position: center; 
    background-color:rgba($color: #000000, $alpha: 0.5);
    padding-bottom: 10px;
    margin-bottom: 0;
}

@mixin header-style {
    background: url("../image/starry night.jpg");
    height: 100%;
    text-align: center;
}

@mixin logo-layout {
    display: inline;
    height: 200px;
}

@mixin footer {
    background-color: rgb(220, 160, 0);
    height: 100%;
    text-align: center;
}

@mixin navbar {
    text-decoration: none;
    color: $link-font-color;
    font-weight: 500;
}

@mixin active-page {
    font-weight: bolder;
    color: $button-active;
}

@mixin all-you-can-eat-video {
    margin-bottom: 20px;
}