@import "./mixin.scss";

$hotpot-red:  rgb(220, 60, 0);
$hotpot-green:  rgb(57, 181, 74);
$button-active: rgb(0, 220, 220);
$link-font-color:rgb(200, 255, 50);

body {
    main {
        header {
            @include header-style;
            .logo {
                @include logo-layout;
            }
        }
        nav {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                a {
                    @include navbar
                }
                a:hover {
                    color: rgb(255, 150, 0);
                }
                :focus {
                    color: white;
                }
                .active-page {
                    @include active-page
                }
            }
            
        section.background-image {
            @include background-image;
        }

        section {
            .menu-photo, .comment {
                text-align: center;
            }
            .meat, .seafood, .beverage {
                color: $hotpot-red;
            }
            figcaption.figure-caption {
                color: black;
            }
            .store-info {
                text-align: center;
            }
            .all-you-can-eat-video {
                @include all-you-can-eat-video
            }
        }
    }
    footer {
        @include footer
    }
}