@mixin header-style {
    background: url("../image/starry night.jpg");
    height: 300px;
    background-color: $header;
    text-align: center;
}

@mixin logo-layout {
    display: inline;
    height: 250px;
}

@mixin footer {
    background-color: rgb(220, 160, 0);
    height: 80px;
    text-align: center;
}

@mixin navbar {
    text-decoration: none;
    color: rebeccapurple;
    font-weight: 500;
}

@mixin active-page {
    font-weight: 700;
    color: rgb(0, 150, 150);
}