@import './mixin.scss';

$header: rgb(40, 40, 40);
$hotpot-red:  rgb(220, 60, 0);
$hotpot-green:  rgb(57, 181, 74);

body {
    background-image: url("../image/light-background.webp");
    header {
        @include header-style;
        .logo {
            @include logo-layout;
        }
    }
    nav {
            a {
                @include navbar
            }
            a:hover {
                color: burlywood;
            }
            :focus {
                color: black;
            }
            .active-page {
                @include active-page
            }
        }
        
    }

    section {
        .menu-photo, .comment {
            text-align: center;
        }
        .meat, .seafood, .beverage {
            color: $hotpot-red;
        }
        figcaption.figure-caption {
            color: black;
        }
    }

    footer {
        @include footer
    }
}